<h1><%= @user.name %></h1>
<p>Email: <%= @user.email %></p>
<span id="user_<%= @user.id %>">
<%= render 'follow_form', user: @user if signed_in? %>
</span>

<h2>フォローしている人</h2>
<table>
  <tbody>
    <% @following.each do |user| %>
      <% if user.id != current_user.id %>
        <tr>
          <td>
            <% if user.role == "cadidate" %>
              <%= user.name %>
            <% elsif user.role == "craftman" %>
              <%= user.name %>
            <% end %>
          </td>
          <td>
            <span id="user_<%= user.id %>">
              <%= render 'follow_form', user: user if signed_in? %>
            </span>
            <%= link_to "メッセージを送る", conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h2>フォローされている人</h2>
<table>
  <tbody>
    <% @followers.each do |user| %>
      <tr>
        <td>
          <% if user.role == "cadidate" %>
            <%= user.name %>
          <% elsif user.role == "craftman" %>
            <%= user.name %>
          <% end %>
        </td>
        <td>
          <span id="user_<%= user.id %>">
            <%= render 'follow_form', user: user if signed_in? %>
          </span>
        </td>
        <td>
          <%= link_to "メッセージを送る", conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %>
        </td>
          </tr>
    <% end %>
  </tbody>
</table>


<!-- 編集ページへのリンクを現在のユーザーの場合のみ表示 -->
<% if current_user == @user %>
  <%= link_to 'プロフィールを編集', edit_user_path(@user) %>
<% end %>