<div class="container mt-5">
  <h1>Chat GPTに文章を作ってもらう</h1>
  <h3 class="mb-4">質問を準備してます、答えはキーワードを入力するなど”簡単に”お答えください。<br>
  AIに参考の文章を作ってもらい、文章作成を少しでも容易にするための手段です。</h3>

  <%= form_with url: chats_path, local: true, html: {class: 'needs-validation', novalidate: true} do |form| %>
    <% @questions.each_with_index do |question, index| %>
      <div class="mb-3">
        <%= form.label "questions[][question]", question, class: 'form-label' %>
        <%= form.hidden_field "questions[][question]", value: question %>
        <%= form.text_field "questions[][user_input]", value: "", class: 'form-control', placeholder: [
          "例: 和菓子製造",
          "例: 家族が代々和菓子屋だったため",
          "例: 50年前に創業",
          "例: 生菓子、最中、どら焼きなど",
          "例: 地元の食材を使用",
          "例: 製造工程の効率化",
          "例: 伝統的な製法や型",
          "例: 精密な技術力",
          "例: 地域の特産品を活かした商品展開",
          "例: 地元産の食材を使った和菓子",
          "例: 手作りの温かみを感じる和菓子",
          "例: 食材の調達が困難になった",
          "例: お客様から感謝の言葉をいただいた",
          "例: 地域の伝統を守り続けたい",
          "例: 話題の新作和菓子が売れ行き好調",
          "例: 伝統と革新を両立させる"
        ][index] %></div>
    <% end %>

    <div class="mb-3">
      <%= form.submit "文章生成", class: 'btn btn-primary' %>
      <p>文章生成に少々お時間が必要です...</p>
    </div>
  <% end %>

  <%= link_to '戻る', root_path, class: 'btn btn-secondary' %>
</div>
