
<h1>後継候補者</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>興味のあるカテゴリー</th>
      <th>希望する技術分野</th>
      <th>県名</th>
      <th>プロフィール</th>
      <th>画像</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.user_id %></td>
        <td><%= candidate.interested_category %></td>
        <td><%= candidate.wanted_technology %></td>
        <td><%= candidate.prefecture %></td>
        <td><%= candidate.profile %></td>
        <td><%= candidate.image %></td>
        <td><%= link_to '詳細', candidate %></td>
        <td><%= link_to '編集する', edit_candidate_path(candidate) %></td>
        <td><%= link_to '削除する', candidate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

# <%= link_to 'New Candidate', new_candidate_path %>
