<span id="user_<%= @user.id %>">
<%= render 'users/follow_form', user: @user if signed_in? %>
</span>

<p>
  <strong>候補者</strong>
  <%= @candidate.user_id %>
</p>

<p>
  <strong>興味のあるカテゴリー:</strong>
  <%= @candidate.interested_category %>
</p>

<p>
  <strong>希望する技術分野:</strong>
  <%= @candidate.wanted_technology %>
</p>

<p>
  <strong>県名:</strong>
  <%= @candidate.prefecture %>
</p>

<p>
  <strong>プロフィール:</strong>
  <%= @candidate.profile %>
</p>

<p>
  <strong>画像:</strong>
  <% if @candidate.image.attached? %>
  < %= image_tag @candidate.image.variant(resize_to_limit: [800, 600]) %>
  <% end %>
</p>

<%= link_to '編集する', edit_candidate_path(@candidate) %> |
<%= link_to '戻る', candidates_path %>
