<%= form_with(model: craftman) do |form| %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <% if craftman.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <h2><%= pluralize(craftman.errors.count, "error") %> prohibited this craftman from being saved:</h2>
            <ul>
              <% craftman.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <%= form.hidden_field :user_id, value: current_user.id %>
      </div>

      <div class="form-group">
        <%= form.label :カテゴリー, class: 'form-label' %>
        <%= form.select :category, Craftman.categories.keys, {include_blank: true}, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :会社名, class: 'form-label' %>
        <%= form.text_field :company_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :県名, class: 'form-label' %>
        <%= form.select :prefecture, Craftman.prefectures.keys, {include_blank: true}, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :市町村名, class: 'form-label' %>
        <%= form.text_field :manicipal, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :後継者候補募集のステータス, class: 'form-label' %>
        <%= form.select :recruit_status, Craftman.recruit_statuses.keys, {include_blank: true}, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :後継者候補募集のタイトル, class: 'form-label' %>
        <%= form.text_field :recruit_title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :後継者候補募集の詳細, class: 'form-label' %>
        <%= form.text_area :recruit_content, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :プロフィール, class: 'form-label' %>
        <%= form.text_area :profile, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :匠の事業の歴史, class: 'form-label' %>
        <%= form.text_area :history, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :匠が持つ技術分野, class: 'form-label' %>
        <%= form.text_field :technology, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :images, '画像', class: 'form-label' %>
        <%= form.file_field :images, multiple: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.submit '登録する', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
<% end %>

