<%= form_with(model: craftman) do |form| %>
  <% if craftman.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(craftman.errors.count, "error") %> prohibited this craftman from being saved:</h2>

      <ul>
        <% craftman.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.label :カテゴリー %>
    <%= form.select :category, Craftman.categories.keys, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :会社名 %>
    <%= form.text_field :company_name %>
  </div>

  <div class="field">
    <%= form.label :県名 %>
    <%= form.select :prefecture, Craftman.prefectures.keys, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :市町村名 %>
    <%= form.text_field :manicipal %>
  </div>

  <div class="field">
    <%= form.label :後継者候補募集のステータス %>
    <%= form.select :recruit_status, Craftman.recruit_statuses.keys, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :後継者候補募集のタイトル %>
    <%= form.text_field :recruit_title %>
  </div>

  <div class="field">
    <%= form.label :後継者候補募集の詳細 %>
    <%= form.text_area :recruit_content %>
  </div>

  <div class="field">
    <%= form.label :プロフィール %>
    <%= form.text_area :profile %>
  </div>

  <div class="field">
    <%= form.label :匠の事業の歴史 %>
    <%= form.text_area :history %>
  </div>

  <div class="field">
    <%= form.label :匠が持つ技術分野 %>
    <%= form.text_field :technology %>
  </div>

  <div class="field">
    <%= form.label :image, '画像' %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit '登録する' %>
  </div>
<% end %>
