
<h1>匠</h1>

<table>
  <thead>
    <tr>
      <th>写真</th>
      <th>会社名</th>
      <th>県名</th>
      <th>市町村名</th>
      <th>後継者候補募集のステータス</th>
      <th>後継者候補募集のタイトル</th>
      <th>プロフィール</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @craftmen.each do |craftman| %>
      <tr>
        <td><%= craftman.image %></td>
        <td><%= craftman.company_name %></td>
        <td><%= craftman.prefecture %></td>
        <td><%= craftman.manicipal %></td>
        <td><%= craftman.recruit_status %></td>
        <td><%= craftman.recruit_title %></td>
        <td><%= craftman.profile %></td>
        <td><%= link_to 'Show', craftman %></td>
        <% if craftman.user == current_user %>
          <td><%= link_to 'Edit', edit_craftman_path(craftman) %></td>
          <td><%= link_to 'Destroy', craftman, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Craftman', new_craftman_path %>
