

<%= render partial: 'layouts/album' %>

<head>
<title>TSUNAGU</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<section class="jumbotron text-center">
<div class="container">
<h1 class="jumbotron-heading">TSUNAGU</h1>
<p class="lead text-muted">繋がり</p>
</div>
</section>

<%= render 'search', q: @q, url: craftmen_path %>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @craftmen.each do |craftman| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
          <% if craftman.images.attached? && craftman.images.first.present? %>
          <%= image_tag craftman.images.first.variant(resize_to_limit: [350, 250]), class: "card-img-top" %>
          <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= craftman.company_name %></h5>
              <p class="card-text">
                <%= craftman.prefecture %><br>
                <%= craftman.manicipal %><br>
                <%= craftman.recruit_status %><br>
                <%= craftman.recruit_title %><br>
                <%= craftman.profile %>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to '詳細', craftman, class: 'btn btn-sm btn-outline-secondary' %>
                  <% if craftman.user == current_user %>
                    <%= link_to '編集', edit_craftman_path(craftman), class: 'btn btn-sm btn-outline-secondary' %>
                    <%= link_to '削除', craftman, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
