
<p>
  <strong>User:</strong>
  <%= @craftman.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @craftman.category %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @craftman.company_name %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @craftman.prefecture %>
</p>

<p>
  <strong>Manicipal:</strong>
  <%= @craftman.manicipal %>
</p>

<p>
  <strong>Recruit status:</strong>
  <%= @craftman.recruit_status %>
</p>

<p>
  <strong>Recruit title:</strong>
  <%= @craftman.recruit_title %>
</p>

<p>
  <strong>Recruit content:</strong>
  <%= @craftman.recruit_content %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @craftman.profile %>
</p>

<p>
  <strong>History:</strong>
  <%= @craftman.history %>
</p>

<p>
  <strong>Technology:</strong>
  <%= @craftman.technology %>
</p>

<p>
  <strong>Image:</strong>
  <%= @craftman.image %>
</p>

<%= link_to 'Edit', edit_craftman_path(@craftman) %> |
<%= link_to 'Back', craftmen_path %>
