
<br/ ><%= render 'search', q: @q, url: craftmen_path %>

<hr class="featurette-divider">

<h2>匠（事業者）の詳細</h2>
<div class="d-inline-block" id="user_<%= @user.id %>">
<%= render 'users/follow_form', user: @user if signed_in? %>
</div>

<% if current_user.following.include?(@user) || current_user.followers.include?(@user) %>
  <div class="d-inline-block ml-2">
    <%= link_to "メッセージを送る", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post, class: "btn btn-primary" %>
  </div>
<% end %>

<% if @craftman.user == current_user %>
<%= link_to 'AI（ChatGPT）に文章作成を手伝ってもらう', new_chat_path, class: 'btn btn-secondary' %>
<% end %>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading"><%= @craftman.recruit_title %></h2>
    </div>
    <div class="col-md-5 order-md-1">
    <% if @craftman.images.attached? && @craftman.images.first.present? %>
    <%= image_tag @craftman.images.first.variant(resize_to_fill: [500, 500]), class: "featurette-image img-fluid mx-auto" %>
    <% end %>
    </div>
    </div>
    
    <hr class="featurette-divider">
    
    <div class="row featurette">
    <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading"> <span class="text-muted">会社名</span><%= @craftman.company_name %></h2>
    <p class="lead">県名: <%= @craftman.prefecture %><br>市町村名: <%= @craftman.manicipal %></p>
    <p class="lead"><%= @craftman.recruit_content %></p>
  </div>
  <div class="col-md-5 order-md-1">
    <% if @craftman.images.attached? && @craftman.images.second.present? %>
      <%= image_tag @craftman.images.second.variant(resize_to_fill: [500, 500]), class: "featurette-image img-fluid mx-auto" %>
    <% end %>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading"><%= @craftman.profile %> <span class="text-muted">プロフィール</span></h2>
  </div>
  <div class="col-md-5 order-md-1">
    <% if @craftman.images.attached? && @craftman.images.third.present? %>
      <%= image_tag @craftman.images.third.variant(resize_to_fill: [500, 500]), class: "featurette-image img-fluid mx-auto" %>
    <% end %>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading"><%= @craftman.technology %> <span class="text-muted">匠が持つ技術分野</span></h2>
  </div>
  <div class="col-md-5 order-md-1">
    <% if @craftman.images.attached? && @craftman.images.fourth.present? %>
      <%= image_tag @craftman.images.fourth.variant(resize_to_fill: [500, 500]), class: "featurette-image img-fluid mx-auto" %>
    <% end %>
  </div>
</div>

<hr class="featurette-divider">

<!--  ユーザー関連付けられた製品一覧 -->
<h2 class="mt-5">製品一覧　
  <% if @craftman.user == current_user %>
    <%= link_to '新規登録', new_product_path, class: 'btn btn-sm btn-outline-secondary' %>
  <% end %>
</h2>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @user.products.each do |product| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="product-images">
              <% if product.images.attached? && product.images.first.present? %>
                <%= image_tag product.images.first.variant(resize_to_fill: [300, 300]), class: "card-img-top mb-2" %>
              <% end %>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text"><%= product.description %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to '詳細', product_path(product), class: 'btn btn-sm btn-outline-secondary' %>
                  <% if @craftman.user == current_user %>
                  <%= link_to '編集', edit_product_path(product), class: 'btn btn-sm btn-outline-secondary' %>
                  <% end %>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<hr class="featurette-divider">

<% if @craftman.user == current_user %>
  <%= link_to '匠ページを編集する', edit_craftman_path(@craftman), class: 'btn btn-primary' %> 
  <%= link_to '戻る', craftmen_path, class: 'btn btn-secondary' %>
  <%= link_to '削除', craftman_path(@craftman), method: :delete, class: 'btn btn-sm btn-outline-danger' %>
<% end %>