<span id="user_<%= @user.id %>">
<%= render 'users/follow_form', user: @user if signed_in? %>
</span>

<p>
  <strong>匠の詳細:</strong>
</p>

<p>
  <strong>カテゴリー:</strong>
  <%= @craftman.category %>
</p>

<p>
  <strong>会社名:</strong>
  <%= @craftman.company_name %>
</p>

<p>
  <strong>県名:</strong>
  <%= @craftman.prefecture %>
</p>

<p>
  <strong>市町村名:</strong>
  <%= @craftman.manicipal %>
</p>

<p>
  <strong>後継者候補募集のステータス:</strong>
  <%= @craftman.recruit_status %>
</p>

<p>
  <strong>後継者候補募集のタイトル:</strong>
  <%= @craftman.recruit_title %>
</p>

<p>
  <strong>後継者候補募集の詳細:</strong>
  <%= @craftman.recruit_content %>
</p>

<p>
  <strong>プロフィール:</strong>
  <%= @craftman.profile %>
</p>

<p>
  <strong>匠の事業の歴史:</strong>
  <%= @craftman.history %>
</p>

<p>
  <strong>匠が持つ技術分野:</strong>
  <%= @craftman.technology %>
</p>

<p>
  <strong>画像:</strong>
    <% if @craftman.image.attached? %>
      <%= image_tag @craftman.image.variant(resize_to_limit: [800, 600]) %>
    <% end %>
</p>

<%= link_to 'Edit', edit_craftman_path(@craftman) %> |
<%= link_to 'Back', craftmen_path %>
