
<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>詳細</th>
      <th>画像</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td>
        <% if product.image.attached? && product.image.first.present? %>
        <%= image_tag product.image.first.variant(resize_to_limit: [350, 250]), class: "card-img-top" %>
      <% end %>
        </td>
        <td><%= link_to '詳細', product %></td>
        <td><%= link_to '編集する', edit_product_path(product) %></td>
        <td><%= link_to '削除する', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
