<h3>製品の詳細</h3>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title mb-4"><%= @product.name %></h2>
          
          <p class="card-text">
            <strong>詳細:</strong>
            <%= @product.description %>
          </p>

          <p class="card-text">
          <% if @product.images.attached? %>
            <% @product.images.each do |image| %>
              <%= image_tag image.variant(resize_to_fill: [500, 500]), class: "d-block w-100 img-fluid carousel-image" %>
            <% end %>
          <% end %>
        </p>

          <div class="d-flex justify-content-between align-items-center mt-4">
          <% if @product.user == current_user %>
            <%= link_to '編集する', edit_product_path(@product), class: 'btn btn-primary' %>
            <%= link_to '削除', product_path(@product), method: :delete, class: 'btn btn-sm btn-outline-danger' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
