
<p>
  <strong>Name名前:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>詳細:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>画像:</strong>
  <% if @product.image.attached? %>
  <%= image_tag @product.image.variant(resize_to_limit: [800, 600]) %>
  <% end %>
</p>

<%= link_to '編集する', edit_product_path(@product) %> |
<%= link_to '戻る', products_path %>
