
<p>
  <strong>Name名前:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>詳細:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>画像:</strong>
  <%= @product.image %>
</p>

<%= link_to '編集する', edit_product_path(@product) %> |
<%= link_to '戻る', products_path %>
